@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    padding:0px 15px;
    margin: 0 auto;
}

.header {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 27px;
    position: absolute;
    z-index: 20;
    width: 100%;
    .logo {
        .logo-link {
            display: block;
        }
    }
}
.main {
    font-family: 'Times New Roman', Times, serif;
    .title {
        width: 300px;
        margin:auto;
        h2 {
            text-transform: uppercase;
            color: #010101;
            font-weight: bold;
            border: 10px solid #121212;
            font-size: 36px;
            text-align: center;
            padding: 27px 0px;
        }
    }
    .links {
        display: grid;
        grid-template-columns: 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr;
        align-items: center;
        justify-content: center;
        a {
            .fb {
                background: url('./project-images/1-facebook.png') no-repeat;
                width: 17px;
                height: 35px;
                &:hover {
                    filter: invert(100%);
                }
            }
            .tw {
                background: url('./project-images/2-twitter.png') no-repeat;
                width: 33px;
                height: 27px;
                &:hover {
                    filter: invert(100%);
                }
            }
            .tumblr {
                background: url('./project-images/3-t.png') no-repeat;
                width: 20px;
                height: 32px;
                &:hover {
                    filter: invert(100%);
                }
            }
            .lnkd {
                background: url('./project-images/4-linkedin.png') no-repeat;
                width: 30px;
                height: 30px;
                &:hover {
                    filter: invert(100%);
                }
            }
            .inst {
                background: url('./project-images/5-instagram.png') no-repeat;
                width: 32px;
                height: 32px;
                &:hover {
                    filter: invert(100%);
                }
            }
            .google {
                background: url('./project-images/6-google.png') no-repeat;
                width: 35px;
                height: 33px;
                &:hover {
                    filter: invert(100%);
                }
            }
        }
    }
    .img {
        position: relative;
        display: flex;
        justify-content: center;
        &:hover .hover {
            display: block;
        }
        .hover {
            display: none;
            position: absolute;
           .block {
                display: grid;
                .zoom {
                    background: url('./project-images/zoom.png') center no-repeat;
                    z-index: 500;
                    width: 31px;
                    height: 31px;
                    grid-column: 2 / 4;
                    cursor: zoom-in;
                    &:hover {
                        filter: invert(100%);
                    }
                    img {
                        opacity: 0;
                    }
                }
                .link {
                    background: url('./project-images/link.png') center no-repeat;
                    z-index: 5;
                    width: 31px;
                    height: 31px;
                    cursor: pointer;
                    &:hover {
                        filter: invert(100%);
                    }
                }
                .info {
                    background: url('./project-images/info.png') center no-repeat;
                    z-index: 5;
                    width: 31px;
                    height: 31px;
                    cursor: pointer;
                    &:hover {
                        filter: invert(100%);
                    }
                }
                .like {
                    background: url('./project-images/like.png') center no-repeat;
                    z-index: 5;
                    width: 31px;
                    height: 31px;
                    cursor: pointer;
                    &:hover {
                        filter: invert(100%);
                    }
                }
                .liked {
                    filter: invert(100%);
                }
           }
        }
    }
    .slick-dots, .slick-arrow {
        display: none !important;
    }
    .slider {
        position: relative;
        top: 0;
        left:0;
        width: 100%;
        margin-bottom: 0px !important;
        .slide-1 {
            background: url("./project-images/slide-1.png") center no-repeat;
            background-size: cover;
            padding: 250px 0px;
        }
        .slide-2 {
            background: url("./project-images/slide-2.jpg") center no-repeat;
            background-size: cover;
            padding: 250px 0px;
        }
        .slide-3 {
            background: url("./project-images/slide-3.jpg") right no-repeat;
            background-size: cover;
            padding: 250px 0px;
        }
    }
    .about-us {
        .wrapper-1 {
            .about-us-title {
                background: url("./project-images/img-studio-bg.png") center no-repeat;
                display: grid;
                align-items: center;
                padding: 195px 0px;
                background-size: cover;
                background-attachment: fixed;
            }
            .about-us-text {
                background-color: #f2efe5;
                .content {
                    display: grid;
                    grid-auto-rows: 0.3fr 0.6fr 1.8fr;
                    gap: 35px;
                    padding-top: 95px;
                    padding-bottom: 145px;
                    .tattoo-design {
                        background: url("./project-images/tattoo-design.png") center no-repeat;
                        width: 80px;
                        height: 52px;
                        margin: 0 auto;
                    }
                    p {
                        font-size: 19px;
                        color: #1e1e1d;
                        line-height: 24px;
                        text-align: center;
                        &:last-child {
                            font-size: 17px;
                            text-align: left;
                        }
                    }
                }
            }
        }
        .wrapper-2 {
            .studio-gallery {
                .img {
                    &:hover {
                        opacity: .66;
                    }
                    .hover {
                        top: 40%;
                    }
                }
            }
        }
    }
    .testimonial {
        .bg {
            background: url("./project-images/testimonial-block-bg.png") center no-repeat;
            position: relative;
            background-size: cover;
            padding-top: 115px;
            padding-bottom: 55px;
            .content {
                color:#f2efe5;
                font-style: italic;
                .direct-words {
                    font-size: 24px;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 75px;
                    line-height: 30px;
                    span {
                        display: block;
                    }
                    .upper-quotes {
                        text-align: left;
                    }
                    .bottom-quotes {
                        text-align: right;
                    }
                }
                .author {
                    text-transform: uppercase;
                    font-size: 18px;
                    text-align: end;
                    margin-right: 25px;
                }
            }
        }
    }
    .team {
        .wrapper-1 {
            display: grid;
            .team-box-title {
                background: url("./project-images/team-img-bg.png") no-repeat;
                display: block;
                background-size: cover;
            }
        }
        .team-photo {
            img {
                display: block;
            }
        }
        .about-team {
            background-color: #ccc8b6;
            display: grid;
            .block {
                align-self: center;
                .name {
                    font-size: 24px;
                    color: #000000;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                }
                .decription {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                }
                .links {
                    display: grid;
                    grid-template-columns: 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr;
                    align-items: center;
                    justify-content: center;
                    a {
                        .fb {
                            background: url('./project-images/1-facebook.png') no-repeat;
                            width: 17px;
                            height: 35px;
                        }
                        .tw {
                            background: url('./project-images/2-twitter.png') no-repeat;
                            width: 33px;
                            height: 27px;
                        }
                        .tumblr {
                            background: url('./project-images/3-t.png') no-repeat;
                            width: 20px;
                            height: 32px;
                        }
                        .lnkd {
                            background: url('./project-images/4-linkedin.png') no-repeat;
                            width: 30px;
                            height: 30px;
                        }
                        .inst {
                            background: url('./project-images/5-instagram.png') no-repeat;
                            width: 32px;
                            height: 32px;
                        }
                        .google {
                            background: url('./project-images/6-google.png') no-repeat;
                            width: 35px;
                            height: 33px;
                        }
                    }
                }
            }
        }
        .wrapper-2 {
            display: grid;
            .newsletter {
                display: grid;
                justify-content: center;
                align-items: center;
                background-color: #f2efe5;
                .form {
                    div {
                        color: #000000;
                        text-transform: uppercase;
                        &:first-child {
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 22px;
                        }
                        &:nth-child(2) {
                            font-size: 14px;
                            line-height: 16px;
                            padding-bottom: 40px;
                        }
                    }
                    .email {
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        width: 300px;
                        gap: 20px;
                        .input, .btn {
                            height: 40px;
                            font-size: 12px;
                            line-height: 21px;
                        }
                        .input {
                            padding-left: 20px;
                            background-color: transparent;
                            border: 1px solid #000000;
                            &::placeholder {
                                font-weight: bold;
                                color: #9c9a95;
                                text-transform: uppercase;
                            }
                        }
                        .btn {
                            background-color: #9a977a;
                            border: none;
                            color: #ffffff;
                            text-transform: uppercase;
                            cursor: pointer;
                            &:hover {
                                opacity: .8;
                            }
                        }
                    }
                }
            }
        }
    }
    .twitter {
        .bg {
            background: url('./project-images/block-twitter-img-bg.png') no-repeat center;
            background-size: cover;
            padding-top: 110px;
            padding-bottom: 125px;
            .content {
                text-align: start;
                display: grid;
                justify-content: center;
                .icon-twitter {
                    background: url('./project-images/icon-twitter.png') center no-repeat;
                    width: 40px;
                    height: 35px;
                    margin: 0 auto;
                    margin-bottom: 35px;
                }
                .message {
                    font-size: 22px;
                    line-height: 22px;
                    color: #f2efe5;
                    font-weight: bold;
                    font-style: italic;
                }
            }
        }
    }
    .gallery {
        .gallery-title {
            background-color: #afac9c;
            display: grid;
            align-items: center;
        }
        .img {
            align-items: center;
            &:hover {
                filter:sepia(0.3);
            }
            .hover {
                .block {
                    display: grid;
                    align-items: center;
                }
            }
        }
    }
    .contact-us {
        background-color: #e7e5d0;
        padding-top: 185px;
        padding-bottom: 150px;
        .wrapper-1 {
            padding-right: 100px;
            .row-1 {
                padding-bottom: 80px;
            }
            .row-2 {
                padding-bottom: 70px;
                text-align: center;
                p {
                    font-size: 18px;
                    color: #000000;
                    line-height: 20px;
                }
            }
            .row-3 {
                font-size: 16px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
                text-transform: uppercase;
                span, .info, .hours {
                    font-weight: bold;
                }
                .info, .hours {
                    padding-bottom: 25px;
                }
                .column-1 {
                    span {
                        text-transform: lowercase;
                    }
                }
            }
        }
        .wrapper-2 {
            .form {
                input, button {
                    width: 465px;
                    height: 60px;
                }
                .full-name, .email {
                    padding-bottom: 60px;
                }
                .message {
                    padding-bottom: 50px;
                    textarea {
                        width: 465px;
                        height: 215px;
                    }
                }
                input, textarea {
                    background-color: transparent;
                    border: 2px solid #000000;
                    padding: 15px;
                    &::placeholder {
                        text-transform: uppercase;
                        font-size: 14px;
                        color: #99988c;
                        line-height: 24px;
                    }
                }
                button {
                    background-color: #9a977a;
                    border: none;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 14px;
                    cursor: pointer;
                    &:hover {
                        opacity: .8;
                    }

                }
            }
        }
    }
    .maps {
        iframe {
            filter: grayscale(1);
            display: block;
        }
    }
}
.footer {
    background-color: #aeaeae;
    padding-top: 165px;
    padding-bottom: 65px;
    .wrapper-1 {
        padding-bottom: 115px;
        .logo {
            text-align: center;
            .logo-link {
                display: block;
            }
        }
    }
    .wrapper-2 {
        .copyright {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            font-weight: 400;
        }
    }
    
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .main {
        .img {
            img {
                max-width: 100%;
                min-height: 100%;
            }
        }
        .about-us {
            .wrapper-1 {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            .wrapper-2 {
                .studio-gallery {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                }
            }
        }
        .team {
            .wrapper-1 {
                grid-template-columns: 1fr 1fr;
                .team-box-title {
                    grid-column:  1 / 3;
                }
                .about-team {
                    border-bottom: 0.5px solid black;
                }
            }
            .wrapper-2 {
                grid-template-columns: 1fr 1fr;
                .about-team {
                    border-top: 0.5px solid black;
                }
                .newsletter {
                    grid-column: 1 / 3;
                }
            }
        }
        .gallery {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .gallery-title {
                grid-column: 1 / 3;
            }
        }
        .popup-images {
            position: fixed;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, .9);
            z-index: 50;
            width: 100%;
            height: 100%;
            display: none;
            span {
                position: absolute;
                top:10px;
                right: 10px;
                font-size: 30px;
                color: #e7e5d0;
                cursor: pointer;
            }
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 500px;
            }
        }
    }
}


@media (min-width: 821px) {
    .header-nav-prev, .header-nav-next, .footer-nav-prev, .footer-nav-next {
        display: grid;
        align-items: center;
    }
    .header-nav-prev, .footer-nav-prev {
        justify-content: flex-end;
        .menu-prev {
            display: grid;
            grid-template-columns: 0.8fr 1fr 1.2fr;
        }
    }
    .header-nav-next, .footer-nav-next {
        justify-content: flex-start;
        .menu-next {
            display: grid;
            grid-template-columns: 0.5fr 1.5fr 1.5fr;
        }
    }
    .menu-prev, .menu-next {
        gap: 24px;
        li {
            padding: 0px 3px;
            height: 24px;
            &:hover {
                border-bottom: 2px solid #1a1a1a;
                transition: 0.15s all ease-in-out;
            }
            a {
                text-align: center;
                text-decoration: none;
                display: block;
                color: #1a1a1a;
                font-size: 12px;
                line-height: 24px;
                text-transform: uppercase;
            }
        }
    }
    .header {
        .wrapper {
            display: grid;
            grid-template-columns: 2.0315fr 0.4fr 2.0315fr;
            gap: 53px;
        }
        .header-nav {
            display: none;
        }
    }
    .footer {
        .wrapper-1 {
            display: grid;
            grid-template-columns: 2.0315fr 0.4fr 2.0315fr;
            gap: 53px;
        }
    }
}


@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .main {
        .img {
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .about-us {
            .wrapper-2 {
                .studio-gallery {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                }
            }
        }
        .team {
            .wrapper-1 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                .team-box-title {
                    grid-column: 1 / 2;
                    padding-top: calc(50% - 55px);
                }
                .about-team {
                    border-bottom: none;
                }
            }
            .team-photo {
                img {
                    min-height: 100%;
                }
            }
            .wrapper-2 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                .about-team {
                    border-top: none;
                }
                .newsletter {
                    grid-column: 3 / 4;
                }
            }
        }
        .gallery {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            .gallery-title {
                grid-column: 1 / 3;
            }

        }
        .contact-us {
            .container {
                display: grid;
                grid-template-columns: 7fr 5fr;
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .main {
        .contact-us {
            .container {
                .wrapper-1 {
                    .row-3 {
                        padding-bottom: 125px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1500px) {
    .main {
        .img {
            .hover {
                .block {
                    gap: 30px 45px;
                }
            }
        }
        .links {
            gap: 45px;
        }
        .img {
            display: flex;
            justify-content: center;
            img {
                min-width: 100%;
            }
        }
        .about-us {
            .wrapper-1 {
                .about-us-text {
                    .content {
                        padding: 95px 125px 0px 85px;
                    }
                }
            }
        }
        .testimonial {
            .bg {
                padding: 115px 315px 55px 315px;
                .content {
                    color:#f2efe5;
                    font-style: italic;
                    .direct-words {
                        span {
                            font-size: 150px;
                        }
                        .upper-quotes {
                            text-align: left;
                            margin-left: -80px;
                        }
                        .bottom-quotes {
                            text-align: right;
                            margin-right: -80px;
                        }
                    }
                    .author {
                        text-transform: uppercase;
                        font-size: 18px;
                        text-align: end;
                        margin-right: 25px;
                    }
                }
            }
        }
        .team {
            .wrapper-1 {
                .team-box-title {
                    min-width: 100%;
                }
            }
            .team-photo {
                img {
                    min-width: 100%;
                }
            }
            .about-team {
                padding-left: 45px;
                padding-right: 45px;
                .block {
                    .name {
                        margin-bottom: 50px;
                    }
                    .decription {
                        margin-bottom: 45px;
                    }
                }
            }
        }
    }
    .twitter {
        .bg {
            padding-left: 295px;
            padding-right: 295px;
        }
    }
    .gallery {
        .gallery-title {
            min-width: 100%;
        }
    }
}

@media (max-width: 1499.98px) {
    .main {
        .img {
            .hover {
                .block {
                    gap: calc(15px + (30 - 15) * ((100vw - 992px) / (1500 - 992))) calc(20px + (45 - 20) * ((100vw - 992px) / (1500 - 992)));
                }
            }
        }
        .about-us-text {
            .content {
                padding: 0px calc(15px + (125 - 15) * ((100vw - 320px) / (1500 - 320))) 0px calc(15px + (85 - 15) * ((100vw - 320px) / (1500 - 320)));;
            }
        }
        .links {
            gap: calc(20px + (45 - 20) * ((100vw - 992px) / (1500 - 992)));
        }
        .testimonial {
            .bg {
                padding: 115px calc(50px + (315 - 50) * ((100vw - 320px) / (1500 - 320))) 55px calc(50px + (315 - 50) * ((100vw - 320px) / (1500 - 320)));
                .content {
                    color:#f2efe5;
                    font-style: italic;
                    .direct-words {
                        span {
                            font-size: calc(80px + (70 + 70 * 0.7) * ((100vw - 320px) / 1500));
                        }
                        .upper-quotes {
                            text-align: left;
                            margin-left: calc(-35px + (-85 + 35) * ((100vw - 320px) / (1500 - 320)));
                        }
                        .bottom-quotes {
                            text-align: right;
                            margin-right: calc(-35px + (-85 + 35) * ((100vw - 320px) / (1500 - 320)));
                        }
                    }
                    .author {
                        text-transform: uppercase;
                        font-size: 18px;
                        text-align: end;
                        margin-right: 25px;
                    }
                }
            }
        }
        .team {
            .wrapper-1 {
                .team-box-title {
                    max-width: 100%;
                }
            }
            .team-photo {
                img {
                    max-width: 100%;
                }
            }
            .about-team {
                padding: 0px calc(30px + (45 - 30) * ((100vw - 992px) / (1500 - 992)));
                .block {
                    .name {
                        margin-bottom: calc(25px + (50 - 25) * ((100vw - 992px) / (1500 - 992)));

                    }
                    .decription {
                        margin-bottom: calc(20px + (45 - 20) * ((100vw - 992px) / (1500 - 992)));
                    }
                }
            }
        }
        .twitter {
            .bg {
                padding-left: calc(30px + (295 - 30) * ((100vw - 320px) / (1500 - 320)));
                padding-right: calc(30px + (295 - 30) * ((100vw - 320px) / (1500 - 320)));
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .main {
        .contact-us {
            .container {
                .wrapper-1 {
                    .row-3 {
                        padding-bottom: 60px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    .main {
        .title {
            width: 290px;
        }
        .links {
            gap: calc(20px + (45 - 20) * ((100vw - 320px) / (991 - 320)));
        }
        .img {
            .hover {
                .block {
                    gap: calc(15px + (30 - 15) * ((100vw - 992px) / (1500 - 992))) calc(20px + (45 - 20) * ((100vw - 992px) / (1500 - 992)));
                }
            }
        }
        .team {
            .wrapper-1 {
                .team-box-title {
                    padding-top: 190px;
                    padding-bottom: 200px;
                }
            }
            .wrapper-1, .wrapper-2 {
                .about-team {
                    padding: 0px calc(18px + (20 - 18) * ((100vw - 320px) / (991 - 320)));
                    .block {
                        .name {
                            margin-bottom: calc(25px + (50 - 25) * ((100vw - 320px) / (991 - 320)));
    
                        }
                        .decription {
                            margin-bottom: calc(20px + (45 - 20) * ((100vw - 320px) / (991 - 320)));
                        }
                    }
                }
            }
            .wrapper-2 {
                .newsletter {
                    padding: 160px 0px;
                }
            }
        }
        .contact-us {
            .container {
                display: grid;
                grid-column: 1fr 1fr;
                gap: 100px;
                .wrapper-1 {
                    padding-right: 0px;
                    text-align: center;
                }
                .wrapper-2 {
                    text-align: center;
                }
            }
        }
        .maps {
            padding: 0px 15px;
        }
    }
}

@media (max-width: 820.98px) {
    .overfl-hid {
        overflow: hidden;
    }
    .header {
        .wrapper {
            display: grid;
            grid-template-columns: 1.9fr 1fr;
            .logo {
                text-align: end;
                .logo-link {
                    display: block;
                    img {
                        max-width: 80%;
                    }
                }
            }
            .header-nav-next, .header-nav-prev {
                display: none;
            }
            .header-nav {
                align-self: center;
                .menu {
                    padding-top: 180px;
                    position: fixed;
                    top: -100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(174, 174, 174, .9);
                    transition: top 0.35s ease 0s;
                    overflow: auto;
                    li {
                        padding: 15px 0px;
                        width: 50%;
                        margin: auto;
                        border-bottom: 0.3px solid rgb(53, 51, 51);
                        a {
                            text-align: center;
                            text-decoration: none;
                            display: block;
                            color: #000000;
                            font-size: 18px;
                            line-height: 22px;
                            text-transform: uppercase;
                        }
                    }
                }
                .icon-menu {
                    display: block;
                    position: relative;
                    left: 60%;
                    width: 30px;
                    height: 20px;
                    z-index: 5;
                    &::before, &::after, span {
                        position: absolute;
                        height: 10%;
                        width: 100%;
                        transition: all 0.3s ease 0s;
                        background-color: rgb(0, 0, 0);
                    }
                    &::before, &::after {
                        content: "";
                    }
                    &::before {
                        top: 0;
                    }
                    &::after {
                        bottom: 0;
                    }
                    span {
                        top: 50%;
                        transform: translate(0px, -50%);
                    }
                }
                .icon-close {
                    position: absolute;
                    left: 86.7%;
                    z-index: 5;
                    top: 50%;
                    display: none;
                    span {
                        font-size: 32px;
                        color: rgb(70, 67, 67);
                        position: fixed;
                    }
                }
                .menu-block {
                    top: 0;
                }
                .hiden {
                    display: none;
                }
                .block {
                    display: block;
                }
            }
        }
    }
    .footer {
        .wrapper-1 {
            text-align: center;
            .footer-nav-prev, .footer-nav-next {
                display: none;
            }
        }
    }
}


@media (max-width: 767.98px) {
    .main {
        .img {
            .hover {
                .block {
                    gap: calc(15px + (30 - 15) * ((100vw - 550px) / (767 - 550))) calc(15px + (45 - 15) * ((100vw - 550px) / (767 - 550)));
                }
            }
            img {
                max-width: 100%;
                min-height: 100%;
            }
        }
        .about-us {
            .wrapper-2 {
                .studio-gallery {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                }
            }
        }
        .team {
            .wrapper-1 {
                .team-box-title {
                    grid-column:  1 / 3;
                }
                .about-team {
                    padding-top: 120px;
                    padding-bottom: 120px;
                }
            }
            .team-photo {
                grid-column: 1 / 3;
                img {
                    min-width: 100%;
                }
            }
            .wrapper-2 {
                .newsletter {
                    grid-column: 1 / 3;
                }
                .about-team {
                    padding-top: 120px;
                    padding-bottom: 120px;
                }
            }
        }
        .gallery {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .gallery-title {
                grid-column: 1 / 4;
                padding-top: 85px;
                padding-bottom: 110px;
            }
        }
        .popup-images {
            position: fixed;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, .9);
            z-index: 50;
            width: 100%;
            height: 100%;
            display: none;
            span {
                position: absolute;
                top:10px;
                right: 10px;
                font-size: 20px;
                color: #e7e5d0;
                cursor: pointer;
            }
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 250px;
            }
        }
    }
}

@media (max-width: 549.98px) {
    .main {
        .img {
            .hover {
                .block {
                    gap: calc(15px + (25 - 15) * ((100vw - 320px) / (549 - 320))) calc(15px + (35 - 15) * ((100vw - 320px) / (549 - 320)));
                }
            }
            img {
                min-width: 100%;
            }
        }
        .about-us {
            .wrapper-2 {
                .studio-gallery {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                }
            }
        }
        .team {
            .wrapper-2 {
                .newsletter {
                    .form {
                        .email {
                            width: 250px;
                        }
                    }
                }
            }
        }
        .gallery {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .gallery-title {
                grid-column: 1 / 3;
                padding-top: 85px;
                padding-bottom: 110px;
            }
        }
        .contact-us {
            .container {
                .wrapper-2 {
                    text-align: center;
                    .form {
                        input, textarea, button {
                            width: calc(290px + (465 - 290) * ((100vw - 320px) / (549 - 320)));
                        }
                    }
                }
            }
        }
    }
}









